<%= render "public/categories/category", categories: @categories %>
<div class="container center-block">
  <h3 class="text-center field">New arrival photos!</h3>
   <%= render 'post_index', posts: @posts %>
</div>