<div class="container">
  <div class="row">
    <div>
      <%= render 'layouts/category', categories: @categories %>
    </div>
    <div class="col-8">
      <h3>新着レシピ</h3>
        <%= render "index", recipes: @recipes %>
    </div>