<%= render 'public/categories/category', categories: @categories %>
<div class="container center-block">
    <h1 class="text-center form-title">New arrival recipes!</h1>
    <%= render "index", recipes: @recipes %>
    <div class="d-flex justify-content-center">
        <%= paginate @recipes%>
    </div>
</div>