<%= render 'public/categories/category', categories: @categories %>
<div class="container center-block">
<h3 class="text-center field">New arrival recipes!</h3>
<%= render "index", recipes: @recipes %>
</div>