<%= form_with(model: [recipe, comment], local: false) do |f| %>
  <div id="comments-error">
    <%= render 'layouts/errors', obj: comment %>
  </div>
  <div class="comment-form">
    <%= f.text_area :comment, placeholder: "コメントをここに", class: "w-100" %>
    <%= f.submit "送信する", class: "btn btn-primary text-white rounded-pill px-3" %>
  <% end %>
  </div>