<h1 class="text-center form-title">Following users</h1>
<% if @members.exists? %>
  <%= render 'public/members/index', members: @members %>
<% else %>
  <p class="text-center">フォロー中のユーザーはいません</p>
<% end %>