<div class="container about">
  <!--<div class="row">-->
    <div class="col-4 about-image"></div>
      <div class="col-8 about-text">
        あなたの料理の備忘録をシェアしませんか？<br>
        このサイトでは、材料・分量や作り方を細かく記載する必要はなく、<br>
        メモ書きのように、自由かつ簡単にレシピの投稿ができます。<br>
        「こうしたら美味しくできたからメモしておきたい」、とか<br>
        「よくこの味付けで作るけど材料は家にあるものでOK」、など<br>
        レシピの枠を超えて備忘録をどんどん投稿しましょう！<br>
      </div>
    </div>
  <!--</div>-->
</div>