<div class="about">
  <div class="about-image"></div>
    <div class="about-text">
      あなたの料理の備忘録をシェアしませんか？<br>
      このサイトでは、材料・分量や作り方を細かく記載する必要はなく、<br>
      メモ書きのように、自由かつ簡単にレシピの投稿ができます。<br>
      「こうしたら美味しくできたからメモしておきたい」、とか<br>
      「よくこの味付けで作るけど材料は家にあるものでOK」、といった<br>
      材料・分量に縛られないお料理の備忘録をどんどん投稿し、<br>
      料理のアイデアをシェアしましょう！<br>
    </div>
</div>