<div class="about">
  <div class="row">
    <div class="col-sm-7 about-text">
      あなたの料理の備忘録をシェアしませんか？<br>
      このサイトでは、材料・分量や作り方を細かく記載する必要はなく、
      メモ感覚で自由に簡単にレシピの投稿ができます。<br>
      レシピの形式に捉われず、あなたのお料理備忘録をどんどん投稿しましょう！<br>
    </div>
    <div class="col-sm-5 about-image"></div>
  </div>
</div>