<div class="about">
  <div class="about-image"></div>
  <div class="about-text">
    Share your memorandum of blend.<br>
    "Blend" is your recipe, <br>
    your seasoning,<br>
    your cooking setup...<br>
    "Blend" is your way of all about cooking.<br>
    Let's share your blends like writing notes.<br>
  </div>
</div>