<div class="container col-9 main-visual">
    <div class="col-8 top-text">
        <div class="top-title">cook memo</div>
        <div class="top-sentence">
          Share your memorandum of blend.<br>
          "Blend" is your recipe, <br>
          your seasoning,<br>
          your cooking setup...<br>
          "Blend" is your way of all about cooking.<br>
          Let's share your blends like writing notes.<br>
        </div>
    </div>
</div>