<% if recipes.exists? %>
  <div class="post-wrap">
    <% recipes.each do |recipe| %>
      <div class="post-box">
        <%= link_to recipe_path(recipe) do %>
          <% if recipe.recipe_image.attached? %>
            <%= image_tag recipe.recipe_image, size: "170x170", class: "rounded" %>
          <% else %>
            <%= image_tag 'no_image', size: "170x170", class: "rounded" %>
            <% end %>
          <% end %>

          <div class="post-content">
            <span><%= recipe.created_at.strftime('%Y/%m/%d') %></span>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
  </div>
    <p class="text-center">まだ投稿がありません</p>
<% end %>