  <h1 class="text-center form-title">Users</h1>
  <div class="d-flex justify-content-center">
    <%= render "member_search", members: @members %>
  </div>
    <%= render "index", members: @members %>
