<%= render "layouts/category", categories: @categories %>
<h3 class="text-center">My album</h3>
<%= render 'public/posts/post_index', posts: @posts %>
<div class="d-flex justify-content-center">
<%= paginate @posts %>
</div>