<%= render "public/categories/category", categories: @categories %>
  <h1 class="text-center form-title">All my recipes</h1>
    <%= render "myrecipe", recipes: @recipes %>
    <div class="d-flex justify-content-center">
      <%= paginate @recipes %>
    </div>