<%= render "public/categories/category", categories: @categories %>
<h3 class="text-center">All my recipes</h3>
<%= render "public/recipes/index", recipes: @recipes %>
<div class="d-flex justify-content-center">
<%= paginate @recipes %>
</div>