 <div class="category-body">
  <% categories.each do |category| %>
   <div class="category-item">
    <%= link_to category.name, search_recipes_path(category.id), method: :get %>
   </div>
  <% end %>
 </div>
</div>
