<% if obj.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <h5><%= obj.errors.count %>件のエラー</h5>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>