<div class="row">
   <div class="card">
    <h6 class="card-header text-center">レシピカテゴリー</h6>
     <div class="card-body">
      <div class="card-text" style="line-height:2.5rem; text-align:center">
      <% categories.each do |category| %>
        <div>
         <%= link_to category.name, search_recipes_path(category.id), method: :get %>
      </div>
      <% end %>
      </div>
     </div>
   </div>
   </div>